{% extends 'common/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container text-center mt-5">
    <h1>금융 데이터 검색</h1>
    <p class="lead">주요 지표, 환율, 주식 등을 검색할 수 있습니다.</p>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="row row-cols-1 row-cols-md-5 g-4 text-center">
                {% for data in market_data %}
                <div class="col">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ data.name }}</h5>
                            <p class="card-text fs-4 fw-bold text-primary">{{ data.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <form method="get" class="mb-5 mt-5">
                {% csrf_token %}
                <div class="d-flex justify-content-center flex-wrap" style="gap: 10px;">
                    <div class="input-group" style="flex: 1;">
                        {{ form.query }}
                    </div>
                    <div class="input-group" style="width: 200px;">
                        {{ form.start_date }}
                    </div>
                    <div class="input-group" style="width: 200px;">
                        {{ form.end_date }}
                    </div>
                    <div class="input-group" style="flex-grow: 0;">
                        <button type="submit" class="pretty-button">검색</button>
                    </div>
                </div>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            {% if query and results %}
                <h2 class="mt-5 mb-3">검색 결과: {{ query }} </h2>
                <div class="table-responsive">
                    {{ results|safe }}
                </div>
            {% elif query %}
                <div class="alert alert-warning text-center" role="alert">
                    "{{ query }}"에 대한 검색 결과를 찾을 수 없습니다.
                </div>
            {% endif %}
        </div>
    </div>
</div>

<style>
    .table td, .table th {
        text-align: center !important;
    }
</style>
{% endblock %}