{% extends 'common/base.html' %}
{% block content %}
<div class="container text-center mt-5">
    <h1>메인페이지입니다.</h1>
    <p class="lead">메인페이지 나중에 만들어야 함.</p>
    <p class="lead">메뉴바도 디자인만 대충 해놨음. 나중에 링크나 로그인이나 이것저것 수정 해야 함.</p>
    <p class="lead">앱 만들때 통일성을 주기 위해 대략적인 디자인 해서 css파일 만들어놨음. 밑에 버튼이나 폼같은거 디자인 참고해주시면 좋아요.</p>
    <p class="lead">공용 static 폴더에 css 분리해뒀습니다.</p>
    <p class="lead">공용으로 공유할 static 내용이 아니라 자기가 만드는 앱 내부에서만 적용되는 static 내용들은 앱 내부에 static 폴더 각자 만들어서 사용해주시면 됩니다.</p>
    <p class="lead"></p>

    <button class="pretty-button mt-4">자세히 알아보기</button>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">입력폼 템플릿</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">이름</label>
                    <input type="text" class="form-control" id="exampleInputName" placeholder="이름을 입력하세요">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail" class="form-label">이메일 주소</label>
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" id="dexampleInputPassword" placeholder="비밀번호를 입력하세요">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea" class="form-label">메시지</label>
                    <textarea class="form-control" id="exampleFormControlTextarea" rows="3" placeholder="메시지를 입력하세요"></textarea>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="pretty-button">제출하기</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}